Package: streaming-porter
Version: REPLACE_VERSION
Maintainer: JK-97 <1179160244@qq.com>
Description: Sync Message Queue.
Homepage:https://github.com/JK-97/streaming-porter
Architecture: REPLACE_ARCH
